body{
    background-image: url(imagenes/xrf4untzy9l61.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    background-color: rgba(54, 54, 206, 0.671);
    color: white;
    margin: 0;
}
main{
    display: grid;
}
.bar{
    background-color: rgba(51, 59, 133, 0.733);
    justify-content:space-around;
    align-items: center;
    margin-bottom: 20px;
    font-size: 40px;
    padding: 30px;
    display: flex;
    z-index: auto;
}
nav a{
    text-decoration: none;
    color: white;
}
.folio{
    text-align: center;
    background-color: rgba(68, 78, 168, 0.733);
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 150px;
    font-size: 20px;
}
.texto_informacion{
    float: left;
    margin-left: 50px;
}
.folio2{
    text-align: center;
    background-color: rgba(68, 78, 168, 0.733);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 150px;
    padding: 30px;
    box-shadow: 10px;
}
.link_hsr{
    text-decoration: none;
    color: white
}
.link_wuwa{
    text-decoration: none;
    color: white
}
.link_zzz{
    text-decoration: none;
    color: white
}
.folio_lateral{
    background-color: rgba(68, 78, 168, 0.733);
    border-radius: 10px;
    float: right;
    margin-right: 150px;
    width: 500px;
    font-size: 26px;
}
.titulo_segundofolio{
    text-align: center;
}
.castorice{
    width: 400px;
    float: left;
}
.jinshi{
    width: 350px;
    float: left;
    margin-top: 100px;
}
.miyabi{
    width: 320px;
    float: left;
    margin-top: 50px;
}
table{
    border-style: color black;
}
th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
