body{
    background-image: url(imagenes/xrf4untzy9l61.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
    backdrop-filter: blur(3px);
    background-color: rgba(54, 54, 206, 0.671);
    color: white;
    margin: 0;
}
main{
    display: grid;
}
.bar{
    background-color: rgba(51, 59, 133, 0.733);
    justify-content:space-around;
    align-items: center;
    margin-bottom: 20px;
    font-size: 40px;
    padding: 30px;
    display: flex;
    z-index: 100;
    font-family: "Metal Mania", serif;
    font-style: normal;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: aquamarine;
}
.folio{
    text-align: center;
    background-color: rgba(68, 78, 168, 0.733);
    border-radius: 10px;
    box-sizing: border-box; 
    margin-right: 20px;
    margin-left: 150px;
    font-size: 20px;
    box-shadow: 0 4px 10px black;
    padding: 0px;
}
.texto_informacion{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: none;
    letter-spacing: normal;
}
.folio2{
    text-align: center;
    background-color: rgba(68, 78, 168, 0.733);
    border-radius: 10px;
    box-sizing: border-box; 
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 150px;
    padding: 30px;
    box-shadow: 0 4px 10px black;
}
.link_hsr{
    text-decoration: none;
    color: white
}
.link_wuwa{
    text-decoration: none;
    color: white
}
.link_zzz{
    text-decoration: none;
    color: white
}
.link_hsr:hover{
    color: aquamarine;
}
.link_wuwa:hover{
    color: aquamarine;
}
.link_zzz:hover{
    color: aquamarine;
}
.folio_lateral{
    background-color: rgba(68, 78, 168, 0.733);
    border-radius: 10px;
    box-sizing: border-box; 
    float: right;
    margin-right: 150px;
    width: 500px;
    font-size: 23px;
    box-shadow: 0 4px 10px black;
    padding: 0px;
}
li{
    list-style-type: georgian;
}
.titulo_segundofolio{
    text-align: center;
}
.castorice{
    width: 400px;
    float: left;
}
.jinshi{
    width: 350px;
    float: left;
    margin-top: 100px;
}
.miyabi{
    width: 320px;
    float: left;
    margin-top: 50px;
}
table{
    border-style: color black;
    border-collapse: collapse;
    vertical-align: auto;
    margin-left: 10px;
}
th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}
td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 16px;
}
tr:nth-child(odd){
    background-color: rgba(35, 141, 136, 0.589);
}
tr:nth-child(even){
    background-color: rgba(35, 141, 136, 0.589);
}
th:nth-child(even){
    background-color: rgba(17, 160, 141, 0.589);
}
td:nth-child(even){
    background-color: rgba(36, 168, 129, 0.589);
}
h2{
    font-size: 28px;
}
.titulo_tabla_castorice{
    color: rgb(216, 53, 216);
    
}
.titulo_tabla_jinshi{
    color: rgb(226, 216, 79);
}
.titulo_tabla_miyabi{
    color: aqua;
}
.folio_formulario{
    text-align: center;
    background-color: rgba(68, 78, 168, 0.733);
    box-sizing: border-box; 
    border-radius: 10px;
    padding: 30px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
    box-shadow: 0 4px 10px black;
}
fieldset{
    margin-bottom: 10px;
}
footer{
    background-image: url(imagenes/xrf4untzy9l61.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    background-size: cover;
    backdrop-filter: blur(1px);
    padding: 10px;
    margin-top: 40px;
    text-align: center;
}

/* Segunda parte del css */

.link_castorice{
    text-decoration: none;
    color: white
}
.link_jinshi{
    text-decoration: none;
    color: white
}
.link_miyabi{
    text-decoration: none;
    color: white
}
.link_castorice:hover{
    color: rgb(216, 53, 216);
}
.link_jinshi:hover{
    color: rgb(226, 216, 79);
}
.link_miyabi:hover{
    color: aqua;
}
[class=castorice2]{
    float: left;
    width: 360px;
    margin-bottom: 30px;
    margin-left: 10px;
}
[class=jinshi2]{
    float: left;
    width: 300px;
    margin-bottom: 30px;
    margin-left: 20px;
    align-items: center;
}
[class=miyabi2]{
    float: left;
    width: 300px;
    margin-bottom: 30px;
    margin-left: 20px;
    
}
.video_castorice{
    width: 500px;
    height: 300px;
    align-items: center;
    margin-left: 20px;
}
.video_jinshi{
    width: 500px;
    height: 300px;
    align-items: center;
    margin-left: 60px;
}
.video_miyabi{
    width: 500px;
    height: 300px;
    align-items: center;
    margin-left: 60px;

}
.folio_castorice{
    background-color: rgba(216, 53, 216, 0.623);
    border-radius: 10px;
    box-sizing: border-box; 
    margin-right: 20px;
    margin-left: 150px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px black;
    padding: 0px;
}
.folio_jinshi{
    background-color: rgba(226, 216, 79, 0.719);
    border-radius: 10px;
    box-sizing: border-box; 
    margin-right: 20px;
    margin-left: 150px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px black;
    padding: 0px;
}
.folio_miyabi{
    background-color: rgba(0, 255, 255, 0.664);
    border-radius: 10px;
    box-sizing: border-box; 
    margin-right: 20px;
    margin-left: 150px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px black;
    padding: 0px;
}
.texto_castorice{
    margin-right: 60px;
    margin-left: 390px;
    font-size: 20px;
    margin-bottom: 20px;
}
.texto_jinshi{
    margin-right: 60px;
    margin-left: 380px;
    font-size: 20px;
    margin-bottom: 20px;
}
.texto_miyabi{
    margin-right: 60px;
    margin-left: 380px;
    font-size: 20px;
    margin-bottom: 20px;
}
#titulo_castorice{
    text-align: center;
    font-size: 40px;
}
#titulo_jinshi{
    text-align: center;
    font-size: 40px;
}
#titulo_miyabi{
    text-align: center;
    font-size: 40px;
}